$main-header-color: #ffffff;
$sec-header-color: #545454;
$main-paragraph-color: #7e7e7e;

$main-bac-color: #f4f4f4;
$sec-bac-color: #ffffff;

$header-bac-color: #61c0e7;
$header-nav-color: #e57f85;

$about-border-color: #4eacdd;
$about-button-color: #14af8f;

$portfolio-button-color: #ea4c89;

$donate-bac-color: #13c3ad;

$footer-span-color: #6dc5ea;