@import "hamburger";
@import "colors";

html {
    font-size: 62.5%;
}

h1, h2, h3, h4, p, table, li, ul, img {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.4em;
}

/****************************** FONTS ************************************/

@font-face {
    font-family: BlackJackRegular;
    src: url("/fonts/blackjack.otf");
}

@font-face {
    font-family: Montserrat-Hairline;
    src: url("/fonts/Montserrat-Hairline.otf");
}


/****************************** HEADER ************************************/

.page-header {
	background-color: $header-bac-color;
    &.opac {
        background: $header-nav-color;
        opacity: 1;
    }  
}

.opac {
	opacity: 0.1;
}

.logo {
    padding-left: 20px;
    height: 80px;
}

.banner-text {
    padding: 40px 30px 0 0;
    text-align: right;
    color: $main-header-color;
    font: 400 3em / 25px BlackJackRegular;
}

.banner-smalltext {
	padding-right: 30px;
    text-align: right;
    color: $main-header-color;
    font: 300 1em / 25px Montserrat-Hairline;
    .banner-smalltext span {
        font {
            style: italic;
            weight: 700;
        }
    }
}

.iPhone5-header-image {
    padding: 10px 0 0 30px;
    display: block;
    width: 100px;
}

.hamburger {
    border: 0;
    background: 0;
    position: absolute;   
    right: 30px;
    top: 20px;
}

.hamburger-close {
	display: none;
}

.nav-home a {
	background: url(/img/nav-icon-home.png) no-repeat 0px 0px;
    background-size: 45px;
}

.nav-about a {
    background: url(/img/nav-icon-about.png) no-repeat 0px 0px;
    background-size: 45px;
}

.nav-contact a {
    background: url(/img/nav-icon-contact.png) no-repeat 0px 0px;
    background-size: 45px;
}

.nav-portfolio a {
    background: url(/img/nav-icon-portfolio.png) no-repeat 0px 0px;	
    background-size: 45px;
}

.navigation-menu {
    display: none;
    &.nav-open {
        display: flex;
        flex-direction: column;
        position: absolute;
        list-style: none;
        left: calc(50% - 50px);
        top: 15%;
    }
    li {
        padding-bottom: 30px;
        &:last-child {
	       padding-bottom: 0px;
        }
        a {
            text-decoration: none;
            font: 700 1em / 25px Montserrat-Hairline;
            color: $main-header-color;
            padding: 15px 0px 15px 60px;
        }
    }   
}

.download-psd-button {
    border: 3px solid $main-header-color;
    position: absolute;
	right: 30px;
    color: $main-header-color;
    margin-top: 30px;
}

.button-image {
	padding-left: 10px;
}

.button {
    font: 400 11px / 25px Montserrat-Hairline;
    background: 0;
    padding: 10px;
    &:hover {
        transform: scale(1.1);
    }
}

/****************************** ABOUT ME ************************************/

.about-me {
    padding: 0 40px;
    background-color: $main-bac-color;
}

.about-header {
    padding: 50px 0 30px 0;
    color: $sec-header-color;
    font: 300 30px / 25px Montserrat-Hairline;
}

.about-paragraph {
    padding-right: 80px;
    color: $main-paragraph-color;
    font: 400 14px / 25px Montserrat-Hairline;
    &:nth-of-type(1) {
	   padding-bottom: 18px;
    }
    &:nth-of-type(2) {
        border-left: 6px solid $about-border-color;
        padding-left: 20px;
        font-style: italic;
    }
}

.say-hello-button {
    margin: 30px 0 70px 0;
    border: 3px solid $about-button-color;
    color: $about-button-color;
}

.ipad-about-me-image {
	text-align: right;
    float: right;
    padding: 200px 0 0 10px;
    width: 105px;
    position: absolute;
    right: 0;
}

/****************************** PORTFOLIO ************************************/

.portfolio {
	background: url(/img/devices-portfolio.png) no-repeat left bottom;
    background-size: 220px;
}

.portfolio-header {
    padding: 50px 0 30px 90px;
    font-size: 3em;
    color: $sec-header-color;
    font: 300 40px / 25px Montserrat-Hairline;
}

.portfolio-paragraph {
    padding: 0 20px 0 90px;
    font-size: 1.7em;
	line-height: 27px;
    color: $main-paragraph-color;
    font: 400 16px / 25px Montserrat-Hairline;
}

.devices-portfolio {
	padding-left: 0;
    display: block;
}

.portfolio-button {
	border: 3px solid $portfolio-button-color;
    color: $portfolio-button-color;
    margin: 30px 0 150px 90px;
}

/****************************** DONATE ************************************/

.donate {
    padding: 0 40px 60px 40px;
    text-align: center;
    background: $donate-bac-color;
}

.donate-header {
	padding-top: 50px;
    text-align: center;
    color: $main-header-color;
    font: 400 40px / 25px Montserrat-Hairline;
}

.donate-button {
    margin-top: 30px;
    border: 3px solid $main-header-color;
    color: $main-header-color;
}

/****************************** CONTACT ************************************/

.contact {
	background: $main-bac-color;
}

.contact-header {
	display: none;
}

.contact-icons {
    padding: 90px 0 66px 0;
    display: flex;
    justify-content: center;
}

.social-icon {
	padding-left: 35px;
    width: 40px;
    height: 40px;
    &:first-child {
	   padding-left: 0;
    }
}

.newsletter {
    padding-bottom: 240px;
    text-align: center;
}

.newsletter-label {
    font: 600 16px / 25px Montserrat-Hairline;
    font-style: italic;
}

.newsletter-input {
    margin-left: 18px;
    padding: 14px 25px;
    background: url(/img/mail-icon-2.png) no-repeat right 15px center;
    background-color: $main-header-color;
    border: 0;
    border-radius: 10px;    
}

/****************************** FOOTER ************************************/

.footer-text {
    padding: 44px 0 40px 0;
    font-style: italic;
    text-align: center;
    font: 400 12px / 25px Montserrat-Hairline;
}

.span-year {
	font-style: normal;
}

.span-perth {
    font-style: normal;
	color: $footer-span-color;
}

/******************************************************************* 40em *************************************/

@media screen and (min-width: 40em) {
    
    
/****************************** HEADER ************************************/

    .logo {
        padding-left: 60px;
        height: 115px;
    }
    
     .hamburger {
        right: 120px;
        top: 30px;   
    }
    
    .banner-text {
        padding: 50px 60px 0 0;
        font-size: 4em;
    }

    .banner-smalltext {
        padding: 20px 60px 0 0;
        font-size: 1.5em;
        line-height: 25px;
    }
    
    .iPhone5-header-image {
        width: 130px;
        padding: 58px 0 0 120px;
    }
    
    .download-psd-button {
        right: 60px;
        width: 173px;
    }
    
    .button {
        padding: 12px;
        font-size: 13px;
    }
  
    .nav-home a {
        background-size: 50px;
    }

    .nav-about a {
        background-size: 50px;
    }

    .nav-contact a {
        background-size: 50px;
    }

    .nav-portfolio a {
        background-size: 50px;
    }
    
    .navigation-menu {
        &.nav-open {
            top: 30%;
        }
        li {
            padding-bottom: 40px;
            a {
                font-size: 1.8em;
            }
        }
    }
    
/****************************** ABOUT ME ************************************/

    
    .about-me {
        padding: 0 70px;
    }
    
    .ipad-about-me-image {
        padding-top: 90px;
        width: 250px;
    }
    
    .about-header {
        padding: 70px 0 35px 0;
    }
    
    .about-paragraph {
        font: 400 16px / 25px Montserrat-Hairline;
        padding-right: 220px;
    }
    
/****************************** PORTFOLIO ************************************/
    
    .portfolio {
	   background-size: 400px;
    }
    
    .portfolio-header {
        padding: 70px 0 35px 380px;
    }

    .portfolio-paragraph {
        padding-left: 380px;
        font-size: 1.7em;
        line-height: 29px;
    }
    
    .portfolio-button {
        margin-left: 380px;  
    }
    
/****************************** DONATE ************************************/
    
    .donate-header {
        padding: 70px 0 35px 0;
    }
 
    .social-icon {
        width: 50px;
        height: 50px;
    }
}

/******************************************************************* 61.25em *************************************/

@media screen and (min-width: 61.25em) {
    
/****************************** HEADER ************************************/
    
    .page-header {
	   height: 500px;
}
    
    .logo {
        padding-left: 160px;
    }
    
    .banner-text {
        padding: 70px 120px 0 0;
    }

    .banner-smalltext {
        padding: 20px 120px 0 0;
    }

    .navigation-menu.nav-open {
        top: 40%;
    }
    
    .iPhone5-header-image {
        width: 170px;
        padding: 42px 0 0 230px;
    }
    
    .download-psd-button {
        right: 120px;
        margin-top: 52px;
    }
    
    .button {
        padding: 13px;
        font-size: 15px;
    }
    
/****************************** ABOUT ME ************************************/
    
    .about-paragraph {
        padding-right: 390px;
    }
    
    .say-hello-button {
        margin-top: 55px;
    }
 
/****************************** PORTFOLIO ************************************/
    
    .portfolio {
        background-size: 600px;
    }
    
    .portfolio-header {
        padding-left: 500px;
    }
    
    .portfolio-paragraph {
        padding-left: 500px;
    }
    
    .portfolio-button {
        margin: 55px 0 0 500px;
        width: 224px;
    }

/****************************** DONATE ************************************/
    
    .donate-button {
        width: 224px;
    }
}

/******************************************************************* 64em *************************************/

@media screen and (min-width: 64em) {

/****************************** HEADER ************************************/
    
    .page-header {
	   height: 651px;
    }
    
    .logo {
        padding-left: 160px;
    }
    
    .banner-text {
        padding: 74px 154px 0 0;
        font: 400 70px / 25px BlackJackRegular;
    }

    .banner-smalltext {
        padding: 62px 160px 0 0;
        font: 300 32px / 25px Montserrat-Hairline;
    }
    
    .iPhone5-header-image {
        width: 230px;
        padding: 77px 0 0 230px;
    }
    
    .download-psd-button {
        right: 160px;
        margin-top: 59px;
    }
    
    .hamburger {
        right: 160px;
        top: 40px;
    }
    
    .navigation-menu {
        &.nav-open {
            top: 50%;
        }
        li {
            padding-bottom: 40px;
        }
    }
    
    .ipad-about-me-image {
        padding-top: 150px;
        width: 340px;
    }
 
/****************************** ABOUT ME ************************************/
    
    .about-me {
        padding: 0 160px;
    }

    .about-header {
        padding: 147px 0 40px 0;
    }

    .about-paragraph {
        padding: 0 365px 30px 0;
        font: 400 16px / 25px Montserrat-Hairline;
        &:nth-of-type(1) {
            padding-bottom: 18px;
        }
    }
    
    .say-hello-button {
        margin: 71px 0 141px 0;
        width: 175px;
    }

/****************************** PORTFOLIO ************************************/
    
    .portfolio {
        background-size: 758px;
        height: 650px;
    }
    
    .portfolio-header {
        padding: 104px 0 44px 705px;
    }

    .portfolio-paragraph {
        padding-left: 705px;
        font: 400 16px / 25px Montserrat-Hairline;
        &:first-of-type {
            padding-bottom: 25px;
        }
        span {
            font: 600 16px / 25px Montserrat-Hairline;
            font-style: italic;
        }
    }

    .portfolio-button {
        margin: 57px 0 200px 705px;
    }

/****************************** DONATE ************************************/
    
    .donate {
        padding: 0 160px 97px 160px;
    }

    .donate-header {
        padding-top: 100px;
    }

    .donate-button {
        margin-top: 10px;
    }

/****************************** CONTACT ************************************/
    
    .contact-icons {
        padding: 243px 0 68px 0;
    }

    .social-icon {
        padding-left: 35px;
        width: 56px;
        height: 56px;
    }
    
    .newsletter-label {
        font: 600 16px / 25px Montserrat-Hairline;
        font-style: italic;
    }
}