html {
    font-size: 62.5%;
}

h1, h2, h3, h4, p, table, li, ul, img {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
}

@font-face {
    font-family: BlackJackRegular;
    src: url("blackjack.otf");
}
@font-face {
    font-family: Montserrat-Hairline;
    src: url("Montserrat-Hairline.otf");
}

.page-header {
	background-color: #61c0e7;
}

.page-header.opac {
    background: #e57f85;
    opacity: 1;
}  

.opac {
	opacity: 0.1;
}

.logo {
    padding-left: 20px;
    height: 80px;
}

.banner-text {
	padding-right: 30px;
    padding-top: 40px;
    text-align: right;
    color: white;
    font: 400 3em / 25px BlackJackRegular;
}

.banner-smalltext {
	padding-right: 30px;
    text-align: right;
    color: white;
    font: 300 1em / 25px Montserrat-Hairline;
}

.banner-smalltext span {
    font-style: italic;
    font-weight: 700;
}

.iPhone5-header-image {
	padding-left: 30px;
    display: block;
    width: 100px;
    padding-top: 10px;
}

.hamburger {
    border: 0;
    background: 0;

    position: absolute;   
    right: 30px;
    top: 20px;
}

.hamburger-close {
	display: none;
}

.nav-home a {
	background: url(img/nav-icon-home.png) no-repeat 0px 0px;
    background-size: 45px;
}

.nav-about a {
    background: url(img/nav-icon-about.png) no-repeat 0px 0px;
    background-size: 45px;
}

.nav-contact a {
    background: url(img/nav-icon-contact.png) no-repeat 0px 0px;
    background-size: 45px;
}

.nav-portfolio a {
    background: url(img/nav-icon-portfolio.png) no-repeat 0px 0px;	
    background-size: 45px;
}

.navigation-menu {
    display: none;
}

.navigation-menu.nav-open {
    display: flex;
	flex-direction: column;
    position: absolute;
    list-style: none;
    left: calc(50% - 50px);
    top: 15%;
}

.navigation-menu li {
    padding-bottom: 30px;
}

.navigation-menu li:last-child {
	padding-bottom: 0px;
}

.navigation-menu li a {
    text-decoration: none;
    font: 700 1em / 25px Montserrat-Hairline;
    color: #ffffff;
    padding: 15px 0px 15px 60px;
}

.download-psd-button {
    border: 3px solid white;
    background: 0;
    position: absolute;
	right: 30px;
    padding: 15px;
    color: white;
    margin-top: 30px;
}

.download-psd-button:hover {
  transform: scale(1.1);
}

.button-image {
	padding-left: 10px;
}

.about-me {
	padding-left: 40px;
    padding-right: 40px;
    background-color: #f4f4f4;
}

.about-header {
	padding-top: 50px;
    padding-bottom: 30px;
    font-size: 2.5rem;
    color: #545454;
}

.about-paragraph {
    font-size: 1.7rem;
	line-height: 27px;
/*    padding-bottom: 30px;*/
    padding-right: 80px;
    color: #7e7e7e;
}

.about-paragraph:nth-of-type(1) {
	padding-bottom: 30px;
}

.say-hello-button {
	margin-top: 30px;
    margin-bottom: 70px;
    border: 3px solid #14af8f;
    background: 0;
    padding: 15px;
    color: #14af8f
}

.say-hello-button:hover {
    transform: scale(1.1);
}

.ipad-about-me-image {
	text-align: right;
    float: right;
    padding-top: 200px;
    padding-left: 10px;
    width: 135px;
    position: relative;
}

.line {
    float: left;
    padding-right: 20px;
}

.portfolio {
	background: url(img/devices-portfolio.png) no-repeat left bottom;
    background-size: 220px;
}

.portfolio-header {
	padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 90px;
    font-size: 3rem;
    color: #545454;
}

.portfolio-paragraph {
	padding-left: 90px;
    padding-right: 20px;
    font-size: 1.7rem;
	line-height: 27px;
    color: #7e7e7e;
}

.devices-portfolio {
	padding-left: 0;
    display: block;
}

.portfolio-button {
	border: 3px solid #ea4c89;
    background: 0;
    padding: 15px;
    color: #ea4c89;
    margin-left: 90px;  
    margin-top: 30px;
    margin-bottom: 150px;
}

.portfolio-button:hover {
    transform: scale(1.1);
}

.donate {
	padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    background: #13c3ad;
    padding-bottom: 60px;
}

.donate-header {
	padding-top: 50px;
    text-align: center;
    color: white;
    font-size: 3rem;
}

.donate-button {
    margin-top: 30px;
    border: 3px solid white;
    background: 0;
    padding: 15px;
    color: white;
}

.donate-button:hover {
    transform: scale(1.1);
}

.contact {
	background: #f4f4f4;
}

.contact-icons {
	padding-top: 90px;
    padding-bottom: 66px;
    text-align: center;
}

.social-icon {
	padding-left: 35px;
    width: 40px;
}

.social-icon:first-child {
	padding-left: 0;
}

.newsletter {
    padding-bottom: 240px;
    text-align: center;
}

.newsletter-label {
	font-size: 1.5rem;
    font-style: oblique;
    font-weight: bold;
}

.newsletter-input {
    margin-left: 15px;
    padding: 12px 20px;
    background: url(img/mail-icon-2.png) no-repeat right 15px center;
    background-color: white;
    border: 0;
    border-radius: 10px;    
}

.footer-text {
	padding-top: 50px;
    padding-bottom: 40px;
    font-style: oblique;
    font-size: 1.5rem;
    text-align: center;
}

.span-year {
	font-style: normal;
}

.span-perth {
    font-style: normal;
	color: #6dc5ea;
}

@media screen and (min-width: 40em) {
    
    .logo {
        padding-left: 60px;
        height: 115px;
    }
    
     .hamburger {
        right: 120px;
        top: 30px;   
    }
    
    .banner-text {
        padding-right: 60px;
        padding-top: 50px;
        font-size: 4em;
    }

    .banner-smalltext {
        padding-right: 60px;
        padding-top: 20px;
        font-size: 1.5em;
        line-height: 25px;
    }
    
    .iPhone5-header-image {
        padding-left: 120px;
        width: 130px;
        padding-top: 58px;
    }
    
    .download-psd-button {
        right: 60px;
        padding: 17px;
        width: 173px;
    }
    
    .nav-home a {
        background-size: 50px;
    }

    .nav-about a {
        background-size: 50px;
    }

    .nav-contact a {
        background-size: 50px;
    }

    .nav-portfolio a {
        background-size: 50px;
    }
    
    .navigation-menu.nav-open {
        top: 30%;
    }
    
    .navigation-menu li {
        padding-bottom: 40px;
    }

    .page-nav .navigation-menu li a {
        font-size: 1.8rem;
        padding: 16px 0 16px 60px;
    }
    
    .about-me {
        padding-left: 70px;
        padding-right: 70px;
    }
    
    .ipad-about-me-image {
        padding-top: 90px;
        width: 250px;
    }
    
    .about-header {
        padding-top: 70px;
        padding-bottom: 35px;
    }
    
    .about-paragraph {
        font-size: 1.8rem;
        line-height: 30px;
        padding-right: 220px;
    }
    
    .say-hello-button {
        padding: 17px;
    }
    
    .portfolio {
	   background-size: 400px;
    }
    
    .portfolio-header {
        padding-left: 380px;
        padding-top: 70px;
        padding-bottom: 35px;
    }

    .portfolio-paragraph {
        padding-left: 380px;
        font-size: 1.7rem;
        line-height: 29px;
    }
    
    .portfolio-button {
        padding: 17px;
        margin-left: 380px;  
    }
    
    .donate-header {
        padding-top: 70px;
        padding-bottom: 35px;
    }
    
    .donate-button {
	   padding: 17px;
    }
 
    .social-icon {
	   width: 50px;
    }
}

@media screen and (min-width: 61.25em) {
    
    .page-header {
	   height: 500px;
}
    
    .logo {
        padding-left: 160px;
    }
    
    .banner-text {
        padding-right: 120px;
        padding-top: 70px;
    }

    .banner-smalltext {
        padding-right: 120px;
        padding-top: 20px;
    }
    
    .page-nav .navigation-menu li a {
        padding: 20px 0 20px 60px;
    }
    
    .navigation-menu.nav-open {
        top: 40%;
    }
    
    .iPhone5-header-image {
        padding-left: 230px;
        width: 170px;
        padding-top: 42px;
    }
    
    .download-psd-button {
        right: 120px;
        padding: 17px;
        margin-top: 52px;
    }
    
    .about-paragraph {
        font-size: 1.9rem;
        line-height: 30px;
        padding-right: 390px;
    }
    
    .say-hello-button {
        margin-top: 55px;
        padding: 20px;
    }
    
    .portfolio {
        background-size: 600px;
    }
    
    .portfolio-header {
        padding-left: 500px;
    }
    
    .portfolio-paragraph {
        padding-left: 500px;
    }
    
    .portfolio-button {
        margin-top: 55px;
        margin-left: 500px;
        padding: 20px;
    }
    
    .donate-button {
        padding: 20px;
    }
}

@media screen and (min-width: 64em) {
    
    .page-header {
	   height: 651px;
    }
    
    .logo {
        padding-left: 160px;
    }
    
    .banner-text {
        padding-right: 154px;
        padding-top: 74px;
        font: 400 70px / 25px BlackJackRegular;
    }

    .banner-smalltext {
        padding-right: 160px;
        padding-top: 62px;
        font: 300 32px / 25px Montserrat-Hairline;
    }
    
    .iPhone5-header-image {
        padding-left: 230px;
        width: 230px;
        padding-top: 77px;
    }
    
    .download-psd-button {
        right: 160px;
        margin-top: 52px;
    }
    
    .hamburger {
        right: 160px;
        top: 40px;
    }
    
    .navigation-menu.nav-open {
        top: 50%;
    }
    
    .navigation-menu li {
        padding-bottom: 40px;
    }
    
    .ipad-about-me-image {
        padding-top: 150px;
        width: 340px;
    }
    
    .about-me {
        padding-left: 160px;
        padding-right: 160px;
    }

    .about-header {
        padding-top: 147px;
        padding-bottom: 44px;
    }

    .about-paragraph {
        font-size: 1.8rem;
        line-height: 30px;
        padding-bottom: 30px;
        padding-right: 390px;
    }
    
    .say-hello-button {
        margin-top: 71px;
        margin-bottom: 141px;
    }

    .portfolio {
        background-size: 700px;
    }
    
    .portfolio-header {
        padding-top: 105px;
        padding-left: 705px;
    }

    .portfolio-paragraph {
        padding-left: 705px;
        font-size: 1.8rem;
        line-height: 30px;
        padding-top: 47px;
    }

    .portfolio-button {
        margin-left: 705px;  
        margin-top: 65px;
        margin-bottom: 200px;
    }
    
    .donate {
        padding-left: 160px;
        padding-right: 160px;
        padding-bottom: 97px;
    }

    .donate-header {
        padding-top: 100px;
        font-size: 3rem;
    }

    .donate-button {
        margin-top: 43px;
    }

    .contact-icons {
        padding-top: 242px;
        padding-bottom: 66px;
    }

    .social-icon {
        padding-left: 35px;
        width: 56px;
    }
}